.chatWrapper {
  min-height: 100vh !important;
  background-color: #17181E !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  color: white;
}

.avatar {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}

.messages {
  margin-bottom: 70px !important;
}

.message,
.messageHeader {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chatAvatarWrapper {
  width: 50px !important;
  height: 50px !important;
  overflow: hidden !important;
}

.inputForm {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.inputForm input {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.inputForm button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatField {
  background-color: black !important;
}