
/* Планшети в портретному режимі (від 600px до 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .welcomeBackLoginText {
    font-size: 38px !important;
    margin-top: 40px !important;
  }

  .inputsWrapper {
    width: 390px !important;
  }


} 

/* Телефони (до 599px) */
@media screen and (max-width: 599px) {
  .welcomeBackLoginText {
    font-size: 28px !important;
    margin-top: 40px !important;
  }

  .inputsWrapper {
    width: 311px !important;
  }

  .signInButton {
    max-width: 200px !important;
  }
}
