/* Tablets (from 600px to 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .mainText {
    font-size: 30px !important;
    max-width: 480px !important;
  }

  .descriptionOfSite {
    max-width: 480px !important;
    font-size: 15px !important;
  }

  main {
    margin-top: 40px !important;
  }

  .spaceShip {
    margin-top: 45px;
  }
}

/* Phones (to 599px) */
@media screen and (max-width: 599px) {
  .mainText {
    font-size: 28px !important;
    max-width: 370px !important;
  }

  .descriptionOfSite {
    max-width: 350px !important;
    font-size: 12px !important;
  }

  main {
    margin-top: 20px !important;
  }

  .spaceShip {
    margin-top: 30px;
  }
}