.profilePageWrapper {
  background-color: #17181E;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0px;
}

.avatarWrapper {
  width: 200px !important;
  height: 200px !important;
  overflow: hidden !important;
  position: relative !important;
}

.userAvatar {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}

.profileDetailsContainer {
  background-color: #30323F;
  border-radius: 20px;
  padding: 37px 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.optionButtons {
  margin-top: 50px !important;
  display: flex;
  gap: 50px;
}

.optionButtons img {
  background-color: #613DC1 !important;
  border-radius: 50% !important;
  height: 34px !important;
  width: 34px !important;
  padding: 15px;
}

.profileNavItem {
  color: #9E7AFF !important;
  text-decoration: none;
}

.modalWindow {
  max-width: 900px !important;
  color: white;
  background-color: #35293C !important;
}

.navModal {
  display: flex;
  gap: 100px;
  justify-content: flex-end;
}